numpy<2.0
fastapi==0.111.0
uvicorn[standard]==0.30.0
sqlmodel==0.0.16
python-dotenv==1.0.1
SQLAlchemy
psycopg2-binary
boto3
pandas
pandas-ta
firebase-admin

db~=0.1.1
yfinance~=0.2.61
pydantic~=2.11.4
openai
setuptools
firebase_admin
dotenv
websocket-client
firebase